@import url('//at.alicdn.com/t/font_2218836_17f5w7v5q0q.css');

:root {
  --popup-header-bgcolor: #e2e2e2;
  --popup-title-color: black;
  --primary-color: #409eff;
  --primary-btn-size: 60px;
  --global-bgcolor: white;
  --global-color: black;
  --input-bgcolor: #f4f5f7;
  --pre-bgcolor: #f8f8f8;
  --code-bgcolor: #3d404c;
  --dark-gray: #606266;
  --light-gray: #99a2aa;
  --nav-bar-bgcolor: #e2e2e2;
}

body {
  background-size: cover;
  background-color: var(--global-bgcolor);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(144, 147, 153, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

::-webkit-scrollbar-corner {
  width: 0;
  height: 0;
}

@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
}

/* transitionName: moveFromLeft */
.moveFromLeft-enter-from {
  transform: translateX(-100%);
}

.moveFromLeft-enter-active {
  transition: transform 0.4s ease-out;
}

/* transitionName: moveFromRightToLeft */
.moveFromRightToLeft-enter-from {
  transform: translateX(100%);
}

.moveFromRightToLeft-leave-to {
  transform: translateX(-100%);
}

.moveFromRightToLeft-enter-active,
.moveFromRightToLeft-leave-active {
  transition: transform 0.6s ease-in-out;
}

/* transitionName: moveFromLeftToRight */
.moveFromLeftToRight-enter-from {
  transform: translateX(-100%);
}

.moveFromLeftToRight-leave-to {
  transform: translateX(100%);
}

.moveFromLeftToRight-enter-active,
.moveFromLeftToRight-leave-active {
  transition: transform 0.6s ease-in-out;
}

/* transitionName: moveToBottomFromBottom */
.moveToBottomFromBottom-enter-from,
.moveToBottomFromBottom-leave-to {
  transform: translateY(100%);
}

.moveToBottomFromBottom-enter-active,
.moveToBottomFromBottom-leave-active {
  transition: transform 0.6s ease-in-out;
}

/* transitionName: fadeInUp */
.fadeInUp-enter-from {
  opacity: 0;
  transform: translateY(30%);
}

.fadeInUp-enter-active {
  transition-property: opacity transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

/* transitionName: zoom */
.zoom-enter-from,
.zoom-leave-to {
  opacity: 0;
  transform: scale3d(0.2, 0.2, 0.2);
}

.zoom-enter-active,
.zoom-leave-active {
  transition-property: transform, opacity;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

/* transitionName: fadeInLeftOutRight */
.fadeInLeftOutRight-enter-from {
  opacity: 0;
  transform: translateX(-100%);
}

.fadeInLeftOutRight-leave-to {
  opacity: 0;
  transform: translateX(100%);
}

.fadeInLeftOutRight-enter-active,
.fadeInLeftOutRight-leave-active {
  transition-property: opacity transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

/* transitionName: moveLeft */
.moveLeft-enter-from,
.moveLeft-leave-to {
  transform: translateX(-100%);
}

.moveLeft-enter-active,
.moveLeft-leave-active {
  transition: transform 0.3s ease-in-out;
}

/* transitionName: fadeIn */
.fadeIn-enter-from,
.fadeIn-leave-to {
  opacity: 0;
}

.fadeIn-enter-active,
.fadeIn-leave-active {
  transition: opacity 0.25s;
}

/* animation */
@keyframes shadowPulse {
  from {
    box-shadow: 0 0 0 0px var(--primary-color);
  }

  to {
    box-shadow: 0 0 0 20px transparent;
  }
}

.shadowPulse {
  animation: 1s infinite shadowPulse;
}

@keyframes loading {
  to {
    transform: rotateZ(-1turn);
  }
}

.entryLoading {
  display: inline-block;
  font-size: 40px !important;
  animation: 2s linear infinite loading;
}
