:root {
  --pw-header-bgcolor: #e2e2e2;
  --pw-title-color: black;
  --primary-color: #409eff;
  --primary-btn-size: 60px;
  --blog-bgcolor: white;
  --blog-color: black;
  --darkmode-bgcolor: #252d38;
  --input-bgcolor: #f4f5f7;
}

body {
  background-image: url('https://cdn.apasser.xyz/blog/escape.jpg');
  background-color: var(--blog-bgcolor);
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(64, 158, 255, 0.7);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(64, 158, 255, 1);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
